






            <% board.board_comments.each_with_index do |comment, i| %>

            <tr class = "contents">

              <td  class = "no">
                <p><%= i + 1 %></p>
              </td>

              <td class = "name"><%= comment.user.name %></td>
              <td class = "time"><%= l comment.created_at, format: :short %></td>
              <td class = "comment"><%= comment.comment %></td>

              <% if current_user.check_user(comment.user) %>
                <td class = "destroy">
                  <%= link_to "削除", board_board_comment_path(board, comment), method: :delete, class: "btn btn-sm btn-outline-danger" %>
                </td>
              <% else %>
                <td></td>
              <% end %>

            </tr>

          <% end %>
