
<div class = "container">
  <div class = "row justify-content-center mt-5">
    <div class = "offset-2 col-8">
      
      <%= form_with model: @board, url: admins_boards_path, local: true do |f| %>
      
        <div class = "form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title, placeholder:"スレッドタイトル", autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
        
        <div class = "form-group">
          <%= f.label :ジャンル %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "form-control" %>
        </div>
        
        <div class="actions">
            <%= f.submit "スレッド作成！", class: "button" %>
        </div>
        
      <% end %>
      
    </div>
  </div>
</div>