<div class = "container">
  <div class = "row justify-content-center">
    <div class = "offset-1 col-6  class = mt-4">
      <table class = "table">
        
        <h2>ジャンル一覧</h2>
        
        <thead>
          
          <th>ジャンル名</th>
          <th>スレッド数</th>
          <th colspan="3"></th>
          
        </thead>
        
        <tbody>
          
          <% @genres.each do |genre| %>
          
          <tr>
            
            <td><%= genre.name %></td>
            <td><%= genre.boards.count %></td>
            <td><%= link_to "削除", admins_genre_path(genre), method: :delete, class: "btn btn-sm btn-outline-danger" %></td>
            
          </tr>
          
          <% end %>
          
        </tbody>
      </table>
    </div>
    
    <div class = "offset-1 col-4 mt-5">
      <div class = "table">
        
        <h2>ジャンル作成</h2>
          
          <div class = "form">
            <%= form_with model: @genre, url: admins_genres_path, local:true do |f| %>
            
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              
              <div class="form-group">
                <%= f.submit class: 'btn btn-success' %>
              </div>
              
            <% end %>
          </div>
      </div>
    </div>
    
  </div>
</div>