

<table class='table'>

  <h2>ユーザー情報</h2>

  <tr>
    <%= attachment_image_tag(user, :image, :fill, 300, 300, fallback: "no_image.jpg") %>
    <% user.tags.each do |tag| %>
      <span class="label"><%= tag.name %></span>
    <% end %>
  </tr>
  <tr>
	  <th>ニックネーム</th>
	  <th><%= user.name %></th>
  </tr>

  <tr>
    <td>Discode ID</td>
    <td><%= user.code %></td>
  </tr>

  <tr>
    <td>好きなジャンル</td>
    <td>
      <% unless genre == "bag" %>
        <%= genre.name %>
      <% end %>
    </td>
  </tr>

  <tr>

    <td>フォロー</td>
    <td>
      <%= link_to relationship_path(user.id) do %>
      <%= user.followings.count %>
      <% end %>
    </td>

  </tr>

  <tr>
    <td>フォロワー</td>
    <td>
      <%= link_to follower_path(user.id) do %>
      <%= user.followers.count %>
      <% end %>
    </td>
  </tr>

  <tr>
	  <th>コメント</th>
	  <th><%= user.introduction %></th>
  </tr>

</table>


<tr>

    <% unless current_user == user %>
      <% if current_user.following?(user) %>
        <%= link_to "Unfollow", relationship_path(user), method: :delete, class: 'btn btn-danger btn-block' %>
      <% else %>
        <%= form_for(current_user.relationships.build) do |f| %>
                <%#= hidden_field_tag :follow_id, user.id %>
          <%= f.hidden_field :follow_id, value: user.id %>
          <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
        <% end %>
      <% end %>
    <% end %>

</tr>
