
<header class = "header">
  <div class = "container">
    <div class = "row justify-content-center mt-5">
      
      <div class = "offset-1 col-4">
        
        <div class = "button3">
          
          <%= link_to "スレッドを新規作成！", new_board_path, class: "link" %>
          
        </div>
        
      </div>
      
      <div class = "offset-1 col-6">
        
        <%= form_with url:board_search_path, method: :get, local: true do |f| %>
          <!--<div class = "select">-->
          <!--  <p class = "button">ジャンル</p>-->
          <!--</div>-->
          <%= select_tag 'model', options_for_select({ "ジャンル" => "genre", "スレッド名" => "board" }) %>
          <%= select_tag 'method', options_for_select({ "完全一致" => "perfect", "部分一致" => "partial", "前方一致" => "forward_match", "後方一致" => "backward_match" }) %>
          <%= f.text_field 'content', placeholder: "タイトル" %>
          <%= f.submit "検索", class: "btn btn-success" %>
          
        <% end %>
        
      </div>
      
    </div>
  </div>
</header>

<div class = "container">
  <div class = "row justify-content-center mt-5">
    <table class ="table">
      <thead>
        
        <h2>公式スレッド</h2>
        
        <tr>
          <th>スレッドタイトル</th>
          <th></th>
          <th>作成日</th>
          <th>更新日</th>
          <th>コメント数</th>
          <th colspan="6"></th>
        </tr>
        
      </thead>
      
      <tbody>
        
        <% @select.each do |board| %>
          
          <tr>
            <td><%= link_to board.title, board_path(board) %></td>
            <td></td>
            <td><%= l board.created_at %></td>
            <td><%= l board.updated_at%></td>
            <td><%= board.board_comments.count %></td>
            <td></td>
          </tr>
        
        <% end %>
        
      </tbody>
    </table>
  </div>
  
  <div class = "row justify-content-center mt-5">
    <table class = "table">
      
      <%= render 'index', boards: @boards %>
      
    </table>
  </div>
</div>