
<div class = "container">
  <div class = "row mt-5">
    <div class = "offset-1 col-10 mt-5">
      
      
        <div class = "comments_area">
          <%= render 'board_comments/board_comment', board: @board %>
        </div>
      
      <div class = "back">
        <%= link_to "一覧へ", boards_path, class: "btn btn-secondary" %>
      </div> 
    </div>
  </div>
</div>



<footer>
  <div class = "container">
    <div class = "row mt-5">
      <div class = "offset-2 col-8">
      
        <%= form_with(model:[@board, @comment], local:true) do |f| %>
        
          <div class = "form-group">
            <%= f.label :コメント %>
                <%= f.text_area :comment, placeholder:"ここに内容を書こう！", autofocus: true, class: "inputComment form-control" %>
          </div>
          
          <div class="actions">
            <%= f.submit "投稿", class: "button3" %>
          </div>
          
        <% end %>
      
      </div>
    </div>
  </div>
</footer>