
<div class = "container">
  <div class = "row mt-5">
    <div class = "offset-1 col-10 mt-5">

      <table class = "table">

          <thead>

            <h2 class = "title"><strong><%= @board.title %></strong></h2>

            <tr>
              <th class = "no">No.</th>
              <th class = "name">投稿者</th>
              <th class = "time">投稿日</th>
              <th>コメント</th>
              <th colspan="5"></th>

            </tr>
          </thead>



        <tbody id = "post">

            <%= render 'board_comments/board_comment', board: @board %>

        </tbody>


      </table>

      <div class = "back">
        <%= link_to "一覧へ", boards_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>



<footer>
  <div class = "container">
    <div class = "row mt-5">
      <div class = "offset-2 col-8">

          <%= form_with(model:[@board, @comment], remort:true) do |f| %>



          <div class = "form-group">
            <%= f.label :コメント %>
              <%= f.text_area :comment, placeholder:"ここに内容を書こう！", autofocus: true, id: "text", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "投稿", class: "button3" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</footer>