<div class = "container">

  <div class = "row">

    <div class = "offset-2 col-8">
      <table class = "table">
        <h1>
        👤フォロー<%= @follows.count %>人
        <% @follows.each do |follow| %>
        </h1>
        <tr>

          <td>
            <%= attachment_image_tag(follow, :image, :fill, 50, 50, fallback: "no_image.jpg") %>
          </td>

          <td><%= follow.name %></td>

          <td><%= link_to 'Show', user_path(follow) %></td>


          <td>
            <% if @room.relation_rooms.find_by(participant_id: follow.id) %>
            
              <p>参加しています</p>
              
            <% else %>
            
              <%= form_with model:@set_room_user, url:room_relation_rooms_path(@room.id), method: :post, local:true do |f| %>
              
                <%= f.hidden_field :participant_id, value: follow.id %>
                
                <div class = "form-group">
                  <%= f.submit '参加！', class: 'btn btn-primary btn-block' %>
                </div>
                
              <% end %>
              
            <% end %>
          </td>


        </tr>

        <% end %>

      </table>
      
      <table class = "table">
        <%= link_to "グループを開始！", room_path(@room), class: 'button' %>
      </table>
      
    </div>

  </div>
</div>