

<div class = "container">
  <div class = "row">
    <div class = "offset-2 col-8">
      
      <div class = "form-group">
        
        <%= form_with model:@room, url:rooms_path, local:true do |f| %>
          
        <div class = "form-group">
          <i>
            <%= f.label :グループ名 %>
          </i>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
        
        <div class="actions">
          <%= f.submit "作成！", class: "button" %>
        </div>
        
        <% end %>
        
      </div>
      
      <% @user.rooms.each do |room| %>

      <%= link_to room.name, edit_room_path(room) %>
      
      <% end %>
      
    </div>
  </div>
</div>