

<div class = "container">
  <div class = "row justify-content-center mt-5">
    <h2 class = "text-center">お問い合わせ</h2>
    <div class = "offset-4 col-6">
      
      <%= form_with model:@inquiry, local:true do |f| %>
      
        <div class = "form-group">
          <i>
            <%= f.label :要件 %>
          </i>
          <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
        </div>
        
        <div class = "form-group">
          <i>
            <%= f.label :内容 %>
          </i>
            <%= f.text_area :inquiry, placeholder:"お問い合わせの内容", autofocus: true, class: "form-control" %>
        </div>
        
        <div class="actions">
          <%= f.submit "送信", class: "button" %>
        </div>
      
      <% end %>
      
    </div>
  </div>
</div>